# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Local Xcode configuration files
xcuserdata/
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.xcconfig
*.plist

# Pods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Environment files
.env
GoogleService-Info.plist